body {
    margin: 0;
    background: #F8F8FA;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    text-align: center;
}

h1 {
    margin: 0px;
    text-align: center;
    height: 84px;
    font-size: 75px;
    font-family: 'Monsterrat', sans-serif;
}

.tile-title-word {
    margin-top: 13px;
    margin-left: 20px;
}

.tile-title-word {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #887E92;
    margin-left: 10px;
    display: inline-block;
}

.tile-title-word::first-letter{
    font-size: 27px;
}

.page {
    margin: 10px;
}

.tile {
    margin: 10px;
    border: 1px black solid;
    border-radius: 15px;
    text-decoration: none;
    background: #FFFFFF;
}

.nav-tile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.nav-tile-wrapper > .tile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
}

.tile-text {
    width: 100px;
    color: black;
}

.streak > h2 {
    display: flex;
    justify-content: center;
}

.streak > h3 {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    position: absolute;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    background-color: #888;
    height: 45px;
}

.iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    background-color: #bbb;
    border-radius: 50%;
}

